* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button i {
  padding-left: 16px;
  font-size: 24px;
}

button img {
  padding-left: 16px;
}

.fa-check {
  color: #FAD949;
  padding-right: 8px;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}

.main-screen__flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main-screen__text-buttons {
  display: flex;
}

.main-screen__text-buttons button {
  margin-right: 16px;
}

.main-screen__social ul {
  display: flex;
  padding-bottom: 120px;
}

.main-screen__social a {
  color: #FFFFFF;
  font-size: 24px;
  padding-right: 16px;
}

.main-screen__social a:hover {
  color: #FAD949;
}

.button-transparent {
  /* padding: 16px 40px; */
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
  font-size: 18px;
  /* color: #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-transparent a {
  color: #ffffff;
  padding: 16px 40px;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  display: flex;
}

.btn-hover a:hover {
  color: #F7C644;
  border: 1px solid #F7C644;
}

.button-yellow {
  padding: 16px 40px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: linear-gradient(207deg, rgba(250, 217, 73, 1) 4%, rgba(247, 198, 68, 1) 98%);
  font-size: 18px;
  display: flex;
  align-items: center;
}

.button-yellow:hover {
  background: linear-gradient(207.27deg, #FFD109 3.7%, #FCBB0E 98.51%);
}

.button-yellow a {
  color: #222222;
}

.main-screen {
  height: 100vh;
  background: #222222 url(./assets/img/background-main.png) no-repeat center top/cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header__nav-list {
  display: flex;
}

.header__nav-list li:not(:last-child) {
  padding-right: 32px;
}

.header__nav-list a {
  color: #FFFFFF;
  padding-bottom: 16px;
  border-bottom: 1px solid transparent;
}

.header__nav-list a:hover {
  /* color: #FAD949; */
  border-bottom: 1px solid #FAD949;
}

.header__call {
  display: flex;
  align-items: center;
}

.header__call:hover {
  cursor: pointer;
}

.header__call a {
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 8px;
}

/* .main-screen__text {
  max-width: 626px;
} */

.main-screen__text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
}

.main-screen__text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: #ffffff;
  padding: 16px 0 32px;
}

/* ТОП ПРЕДЛОЖЕНИЯ МЕСЯЦА */

.hot-sale {
  background: url(./assets/img/yellow-bg.png) no-repeat center top/cover;
}

.hot-sale__heading {
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 120px 0 80px;
}

.hot-sale__card {
  font-family: 'Gilroy', sans-serif;
  width: 368px;
  /* height: 590px; */
  background: #FFFFFF;
  border-radius: 2px;
}

.hot-sale__card:hover {
  filter: drop-shadow(0px 4px 15px #dbb03a);
}

.hot-sale__card-container {
  padding: 40px 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hot-sale__card p {
  font-size: 16px;
  line-height: 140%;
  color: rgba(34, 34, 34, 0.63);
}

.hot-sale__card h3 {
  font-family: Gilroy, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #222222;
}

.hot-sale__card-heading h3 {
  padding-bottom: 16px;
}

.hot-sale__card-price {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.hot-sale__card-price h3 {
  padding-left: 8px;
}

.hot-sale__card-list li {
  padding-bottom: 8px;
}

.hot-sale__card-btn {
  padding: 40px 0;
  margin-bottom: 24px;
}

.hot-sale__card-btn button {
  width: 253px;
  height: 53px;
  background: linear-gradient(289.16deg, #455FFF -59.93%, #8053FF 102.75%);
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hot-sale__card-btn button a {
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 16px;
}

.hot-sale__card-btn button:hover {
  cursor: pointer;
  background: linear-gradient(291.19deg, #7184FF 2.11%, #8053FF 100%);
}

.hot-sale__items {
  padding-bottom: 160px;
  display: flex;
  justify-content: space-between;
}

/* ЧТО МЫ УМЕЕМ? */

.advantages__heading {
  padding: 180px 0 70px;
}

.advantages__heading h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 8px;
}

.advantages__heading {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
}


.advantages__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
}

.advantages__cards .advantages__card {
  /* width: 388px; */
  /* height: 504px; */
  background: #FFFFFF;
}

.advantages__card-heading,
.advantages__card-price {
  display: flex;
  align-items: center;
}

.advantages__card-heading h3,
.advantages__card-price h3 {
  font-size: 32px;
  /* padding-left: 8px; */
}

.advantages__card-list {
  padding: 24px 0 0 16px;
  list-style-type: disc;
}

.advantages__card-list li {
  padding-bottom: 24px;
  color: #222222;
  /* font-weight: 400; */
}

.advantages__card-price {
  padding-top: 24px;
}

.advantages__card {
  border: 1px solid #F2F2F2;
}

.advantages__card:hover {
  filter: drop-shadow(0px 2px 30px rgba(105, 102, 95, 0.2));
}

.advantages__card-btn {
  padding-top: 40px;
}

.advantages__card-btn button {
  width: 303px;
  height: 53px;
  background: linear-gradient(207.27deg, #FAD949 3.7%, #F7C644 98.51%);
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__card-btn button a {
  font-size: 18px;
  color: #222222;
  text-decoration: none;
}

.advantages__card-btn button:hover {
  cursor: pointer;
  background: linear-gradient(207.27deg, #FFD109 3.7%, #FCBB0E 98.51%);
}

.advantages__card-content {
  padding: 40px 32px;
}

.advantages__card-price img {
  padding-right: 8px;
}

.second-row {
  margin-top: 16px;
}

.banner img {
  max-width: 1136px;
}

.working-process__heading {
  font-weight: 800;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #222222;
  padding: 120px 0 70px;
}

.working-process__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.working-process__card {
  /* display: flex;
  flex-direction: column; */
  background: #FFFFFF;
  width: 272px;
  height: 400px;
  /* box-shadow: 0px 2px 30px rgba(105, 102, 95, 0.1); */
  border-radius: 2px;
  border: 1px solid #F2F2F2;
  padding: 62px 42px;
}

.working-process__card:hover {
  box-shadow: 0px 2px 30px rgba(105, 102, 95, 0.1);
}

.working-process__card img,
.working-process__card h4 {
  padding-bottom: 16px;
}

.working-process__card p {
  line-height: 130%;
  color: #222222a1;
}

.working-process__card h4 {
  font-size: 24px;
  font-weight: 500;
}

.portfolio {
  background: url(./assets/img/yellow-bg-2.png) no-repeat center top/cover;
}

.portfolio__heading {
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 120px 0 80px;
}

.portfolio__items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

/* .portfolio__card:hover {
  filter: drop-shadow(0px 4px 15px #dbb03a);
} */

.portfolio__card {
  width: 368px;
  height: 420px;
  position: relative;
  perspective: 1000px;
  /* border: 1px solid #fff; */
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: 4px;
}

.front img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 4px;
}

.back {
  padding: 56px;
  /* background: linear-gradient(206.08deg, #FAD949 -70.14%, #F7C644 267.69%); */
  transform: rotateY(180deg);
  flex-direction: column;
}

.back h3 {
  font-size: 40px;
  padding-bottom: 16px;
}

.back p {
  font-size: 20px;
  line-height: 130%;
  padding-bottom: 16px;
  color: #222222;
  font-weight: 300;
}

.portfolio__card:hover .front {
  transform: rotateY(180deg);
}

.portfolio__card:hover .back {
  transform: rotateY(360deg);
}

.calculator__heading {
  padding: 180px 0 70px;
}

.calculator__heading h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 8px;
}

.calculator__heading {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
}

.calculator__items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.calculator__card {
  width: 656px;
  background: #FFFFFF;
  filter: drop-shadow(0px 2px 20px rgba(105, 102, 95, .2));
  border-radius: 2px;
}

.calculator__card-form label {
  padding-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(34, 34, 34, 0.8);
}

.calculator__card-steps h4 {
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  padding-bottom: 64px;
}

.calculator__card-steps h4 span {
  color: #455fff;
}

.calculator__card-form h4 {
  padding-bottom: 24px;
  font-size: 22px;
  font-weight: 500;
}

.calculator__card-form--btn {
  padding-top: 64px;
}

.calculator__card-form--inputs {
  display: flex;
}

.calculator__card-form--input-item {
  padding-bottom: 16px;
}


.calculator__card-content {
  padding: 62px 56px;
}

.calculator__card-form--left {
  padding-right: 80px;
}

.calculator__card-form--btn button {
  width: 280px;
  height: 53px;
  background: linear-gradient(289.16deg, #455FFF -59.93%, #8053FF 102.75%);
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator__card-form--btn button a {
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  /* padding-right: 16px; */
}

.calculator__card-form--btn button:hover {
  cursor: pointer;
  background: linear-gradient(291.19deg, #7184FF 2.11%, #8053FF 100%);
}

input[type=submit] {
  width: 253px;
  height: 53px;
  background: linear-gradient(289.16deg, #455FFF -59.93%, #8053FF 102.75%);
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 18px;
}

input[type=submit]:hover {
  cursor: pointer;
  background: linear-gradient(291.19deg, #7184FF 2.11%, #8053FF 100%);
}

.order-block {
  background: #222222 url(./assets/img/black-bg.png) no-repeat center top/cover;
  padding-bottom: 120px;
}

.order-block__heading {
  font-weight: 800;
  font-size: 48px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 120px 0 70px;
}

.order-block__form {
  background: #151515;
  border-radius: 2px;
  width: 593px;
}

.order-block__form label {
  font-size: 18px;
  color: #FFFFFF;
  padding-bottom: 8px;
}

.order-block__form [type=text] {
  width: 388px;
  padding: 16px;
}

.order-block__form form {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.order-block__form p {
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 40px;
}

.order-block__form h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.order-block__form-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.footer {
  background: url(./assets/img/yellow-bg.png) no-repeat center top/cover;
}

.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.footer__social-links ul {
  display: flex;
}

.footer__social-links a {
  color: #151515;
  font-size: 24px;
  padding-left: 16px;
}

.footer__social-links a:hover {
  color: #FFFFFF;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .main-screen__text h1 {
    font-size: 40px;
  }

  .button-transparent i {
    font-size: 20px;
  }

  .button-transparent a,
  .main-screen__text p,
  .button-yellow {
    font-size: 16px;
  }

  .button-transparent a,
  .button-yellow {
    padding: 16px 32px;
  }

  .hot-sale__heading {
    font-size: 32px;
    padding: 64px 0 32px;
  }

  .hot-sale__card-container {
    padding: 32px 0 0 32px;
  }

  .hot-sale__card h3 {
    font-size: 24px;
    line-height: 130%;
  }

  .hot-sale__card-price,
  .hot-sale__card-btn {
    padding: 24px 0;
  }

  .hot-sale__items {
    padding-bottom: 64px;
  }

  .hot-sale__card-btn {
    margin-bottom: 24px;
  }

  .advantages__heading {
    padding: 64px 0 32px;
  }

  .advantages__heading p {
    font-size: 18px;
  }

  .advantages__cards {
    padding-bottom: 64px;
  }

  .advantages__card-heading h3,
  .advantages__card-price h3 {
    font-size: 24px;
    /* padding-left: 8px; */
  }



  .advantages__card-list {
    padding: 32px 0 0 16px;
    list-style-type: disc;
  }
  
  .advantages__card-list li:not(:last-child) {
    padding-bottom: 16px;
    color: #222222;
    /* font-weight: 400; */
  }
  
  .advantages__card-price {
    padding-top: 16px;
  }
  
  .advantages__card-btn {
    padding-top: 40px;
  }
  
  
  .advantages__card-btn button a {
    font-size: 16px;
  }
  
  .advantages__card-content {
    padding: 40px 32px;
  }
  
  .advantages__card-price img {
    padding-right: 8px;
  }

  .advantages__card h3 {
    font-weight: 600;
  }

  .calculator__heading {
    padding: 64px 0 32px;
  }

  .calculator__heading p {
    font-size: 18px;
  }
}